<div class="row form-group" *ngIf="errorMsg !== ''">
  <div class="col-md-6 alert alert-danger">
     {{errorMsg}} 
  </div>
</div>
<div class="row form-group">
  <div class="col-md-4">
    <label>Friend Name:</label>
  </div>
  <div class="col-md-4">
    <input type="text" name=fname [(ngModel)]="fname" class="form-control" />      
  </div>
</div>
<div class="row form-group">
  <div class="col-md-4">
    <button class="btn btn-info" (click)="addNewFriend()">Add New Friend</button>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <table class="table bg-dark text-white">
      <thead>
        <tr>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let name of friendsList;let i=index">
            <td>{{name}}</td>
            <td><button class="btn btn-danger" (click)="delete(i)">Delete</button></td>
          </tr>
      </tbody>      
    </table>
  </div>
</div>