<div class="card">
    <div class="card-header bg-warning">
      Personal Details
    </div>
    <div class="card-body bg-danger text-white">
      <table class="table table-bordered">
          <tr>
            <th>First Name</th>
            <td>{{firstName}}</td>
          </tr>        
          <tr>
              <th>Last Name</th>
              <td>{{lastName}}</td>
            </tr>        
          <tr>
              <th>Age</th>
              <td>{{age}}</td>
          </tr>        
          <tr>
              <th>Date of Birth</th>
              <td>{{dob}}</td>
          </tr>
      </table>
    </div>
</div>